




*{
    list-style: none;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
}

body {
    background-color: #e7e7f5;
    margin: 0px;
    height: 100vh;
}

#backgroundp {
    height: 100vh;
    background-color: rgb(218, 218, 239);
    margin-left: 160px;
    margin-right: 160px;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(195, 195, 215);
    border-bottom: 2px solid black;
}

.titlecred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.rtitle {
    font-size: 30px;
    color: black;
}

.creds {
    font-size: 23px;
    color: black;
}

#game {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruct {
    font-size: 25px;
    margin-bottom: 12px;
    color: black;
}

.rpsbutton {
    color: black;
    background-color: white;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#rock:hover {
    background-color: rgb(192, 175, 225);
}
#paper:hover {
    background-color: rgb(179, 208, 239);
}
#scissors:hover {
    background-color: rgb(172, 219, 226);
}

#allresult {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: black;
}

#resultfour {
    font-size: 20px;
}

#reset {
    color: black;
    background-color: rgb(162, 164, 239);
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
}

.viewmode,
.rulesdiv {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  margin: 10px;
}


#reset:hover {
    background-color: rgb(205, 207, 243);
}


#day {
    font-size: 17px;
    border: 0px solid black;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(140, 140, 174);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day svg{
    fill: rgb(59, 59, 74);
}

#night {
    color: black;
    font-size: 17px;
    border: 0px solid black;
    border-radius: 100%;
    background-color: rgb(140, 140, 174);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#night svg{
    fill: rgb(59, 59, 74);
}

#day:hover {
    background-color: rgb(116, 116, 145);
}

#night:hover {
    background-color: rgb(116, 116, 145);
}

#currentbal {
    font-size: 20px;
    font-weight: bold;
}

#resultend {
    font-size: 25px;
}

.bet {
    display: flex;
    padding: 13px;
    align-items: center;
    margin-bottom: 8px;
    background-color: rgb(211, 211, 233);
    border-radius: 25px;
}

#placebet {
    background-color: rgb(156, 156, 212);
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}

#placebet:hover {
    background-color: rgb(143, 143, 196);
}

#betbox {
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(198, 198, 215);
    width: 100px;
    font-size: 20px;
}

#dollar {
    background-color: rgb(140, 140, 174);
    padding: 1px 8px;
    border-radius: 100%;
}

button {
    transition: 0.3s;
}

.adjustbet {
    color: black;
    background-color: rgb(209, 209, 240);
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
    font-size: 14px;
    margin: 1px;
}

#nina {
    transition: 2s;
    border-radius: 100%;
    margin-top: 15px;
    display: none;
    margin-bottom: 8px;
}

#ninamessage1 {
    transform: rotate(8deg);
    color: rgb(123, 121, 144);
}



.allbuttons {
    margin-top: 30px;
    display: none;
}

.rdesc {
    font-size: 18px;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 0px solid black;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(140, 140, 174);
    transition: 0.3s;
    width: 40px;
    height: 40px;
}

.rules svg{
    fill: rgb(59, 59, 74);
}

.rules:hover {
    background-color: rgb(116, 116, 145);
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
}

#currentbal {
    padding: 10px;
    background-color: rgb(195, 195, 215);
    border-radius: 0px 0px 20px 20px;
}

#finalscore {
    border-top: 2px solid rgb(67, 64, 77);
    display: none;
    padding-top: 20px;
}

#resultfour {
    margin-bottom: 20px;
}

#betmsg {
    color: rgb(235, 50, 50);
    font-size: 20px;
}

.betdisp {
    display: none;
    font-size: 18px;
    margin-bottom: 5px;
}

.rules {
    color: rgb(219, 219, 249)

}

.adjustbet:hover {
    background-color: rgb(198, 198, 225);
}

#backgroundp {
    border-left: 3px rgb(181, 181, 206) dashed;
    border-right: 3px rgb(181, 181, 206) dashed;
  }

#placebet {
    color: black
}

#rulecontain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ruletitle {
    color: black;
    margin-top: 8px;
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid black;
}

.allrules {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

#rulecont {
    font-size: 22px;
    padding: 3px;
    color: black;
}

#ruleconte {
    font-size: 22px;
    padding: 3px;
    color: black;
}

.howtotop {
    margin-top: 20px;
}


@media (max-width: 600px) {
    .rtitle {
        font-size: 20px;
        color: black;
    }
    #backgroundp {
        height: 100vh;
        background-color: rgb(218, 218, 239);
        margin-left: 16px;
        margin-right: 16px;
    }
    .instruct {
        font-size: 23px;
        margin-bottom: 12px;
        color: black;
    }
    #day {
        font-size: 12px;
        border: 0px solid black;
        cursor: pointer;
        border-radius: 100%;
        background-color: rgb(140, 140, 174);
        padding: 7px 10px;
    }
    #night {
        color: black;
        font-size: 12px;
        border: 0px solid black;
        border-radius: 100%;
        background-color: rgb(140, 140, 174);
        cursor: pointer;
        padding: 7px 10px;

    }
    #rulecontain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .ruletitle {
        color: black;
        margin-top: 8px;
        font-size: 20px;
        padding: 10px;
        border-bottom: 2px solid black;
    }
    
    .allrules {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    
    #rulecont {
        font-size: 14px;
        padding: 1px;
        color: black;
    }
    
    #ruleconte {
        font-size: 14px;
        padding: 1px;
        color: black;
    }
    
    .howtotop {
        margin-top: 20px;
    }
}

